services:
  postgres:
    image: postgres:18
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: front-desk
    volumes:
      - ./.postgres-data:/var/lib/postgresql
    ports:
      - "5442:5432"
  redis:
    image: redis:7-alpine
    restart: on-failure
    ports:
      - "6379:6379"
    volumes:
      - ./.redis-data:/data
    command: redis-server --appendonly yes
  qdrant:
    image: qdrant/qdrant:v1.16.3
    restart: on-failure
    ports:
      - "6333:6333"
      - "6334:6334"
    volumes:
      - ./.qdrant-data:/qdrant/storage
