@import "tailwindcss";
@import "tw-animate-css";
@source "../../../apps/**/*.{ts,tsx}";
@source "../../../components/**/*.{ts,tsx}";
@source "../**/*.{ts,tsx}";

@custom-variant dark (&:is(.dark *));

:root {
  --background-primary: oklch(95% 0 none);

  --step-multiplier: 1;
  --foreground-multiplier: 1;
  --background-multiplier: 1;

  /* Don't edit below this line manually - use the chromaflow */

  --background-secondary: oklch(
    from var(--background-primary)
      calc(
        l +
          calc(
            calc(var(--step-multiplier) * var(--background-multiplier)) * 0.04
          )
      )
      c h
  );
  --background-tertiary: oklch(
    from var(--background-secondary)
      calc(
        l +
          calc(
            calc(
                calc(var(--step-multiplier) * var(--background-multiplier)) *
                  0.04
              ) *
              0.75
          )
      )
      c h
  );
  --background-quaternary: oklch(
    from var(--background-tertiary)
      calc(
        l -
          calc(
            calc(
                calc(
                    calc(
                        var(--step-multiplier) * var(--background-multiplier)
                      ) *
                      0.04
                  ) *
                  0.75
              ) *
              0.8
          )
      )
      c h
  );
  --foreground-primary: oklch(
    from oklch(from var(--background-primary) calc(1 - l) c h)
      calc(
        l +
          calc(
            calc(var(--foreground-multiplier) * var(--step-multiplier)) * 0.13
          )
      )
      c h
  );
  --foreground-secondary: oklch(
    from var(--foreground-primary)
      calc(
        l -
          calc(
            calc(
                calc(var(--foreground-multiplier) * var(--step-multiplier)) *
                  0.13
              ) *
              2.3
          )
      )
      c h
  );
  --foreground-tertiary: oklch(
    from var(--foreground-secondary)
      calc(
        l -
          calc(
            calc(
                calc(
                    calc(
                        var(--foreground-multiplier) * var(--step-multiplier)
                      ) *
                      0.13
                  ) *
                  2.3
              ) *
              0.7
          )
      )
      c h
  );

  /* Label colors */
  --label-color-red: oklch(0.55 0.18 0);
  --label-color-orange: oklch(0.55 0.18 75);
  --label-color-yellow: oklch(0.55 0.18 100);
  --label-color-green: oklch(0.55 0.18 145);
  --label-color-teal: oklch(0.55 0.18 185);
  --label-color-blue: oklch(0.55 0.18 240);
  --label-color-purple: oklch(0.55 0.18 310);
  --label-color-pink: oklch(0.55 0.18 350);

  /* TODO remove these variables and use the new ones */
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background-primary: oklch(14.5% 0 none);

  --step-multiplier: 1;
  --foreground-multiplier: 1;
  --background-multiplier: 1;

  /* Label colors */
  --label-color-red: oklch(0.653 0.18 21.3);
  --label-color-orange: oklch(0.653 0.18 75);
  --label-color-yellow: oklch(0.653 0.18 100);
  --label-color-green: oklch(0.653 0.21 145);
  --label-color-teal: oklch(0.653 0.18 185);
  --label-color-blue: oklch(0.653 0.18 240);
  --label-color-purple: oklch(0.653 0.18 310);
  --label-color-pink: oklch(0.653 0.18 350);

  /* TODO remove these variables and use the new ones */

  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.2363 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@theme inline {
  --font-family: "Inter Variable", sans-serif;
  --font-mono: "Intel One Mono Variable", monospace;

  --color-background-primary: var(--background-primary);
  --color-background-secondary: var(--background-secondary);
  --color-background-tertiary: var(--background-tertiary);
  --color-background-quaternary: var(--background-quaternary);
  --color-foreground-primary: var(--foreground-primary);
  --color-foreground-secondary: var(--foreground-secondary);
  --color-foreground-tertiary: var(--foreground-tertiary);
  --color-border-primary: oklch(from var(--foreground-primary) l c h / 8%);
  --color-border-secondary: oklch(from var(--foreground-secondary) l c h / 12%);
  --color-border-tertiary: oklch(from var(--foreground-tertiary) l c h / 16%);
  --color-border-quaternary: oklch(
    from var(--foreground-quaternary) l c h / 20%
  );

  /* TODO remove these variables and use the new ones */
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border-primary outline-ring/50;
    ::-webkit-scrollbar {
      width: 11px;
    }

    ::-webkit-scrollbar-thumb {
      border: 3px solid rgba(0, 0, 0, 0);
      background-clip: padding-box;
      border-radius: 9999px;
      background-color: var(--color-muted-foreground);
    }
  }
  body {
    @apply bg-background-primary text-foreground;
  }
}

.ProseMirror:focus {
  outline: none;
}

.tiptap p.is-editor-empty:first-child::before {
  color: var(--color-muted-foreground);
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

/* Custom prose styles */
.customProse p {
  @apply leading-relaxed tracking-wide;
}

.customProse p:not(:first-child) {
  @apply mt-2;
}

.customProse ul {
  @apply list-disc my-2 ml-6;
}

.customProse ol {
  @apply list-decimal my-2 ml-6;
}

.customProse li {
  @apply mt-1.5;
}

.customProse strong {
  @apply font-semibold;
}

.customProse blockquote {
  @apply relative mt-2 pl-4 before:w-[2.5px] before:bg-muted-foreground/40 before:absolute before:left-0 before:top-0 before:h-full before:rounded-full;
}

.customProse code {
  @apply bg-muted relative px-[0.3rem] py-[0.2rem] font-mono font-light rounded-sm;
}

.customProse pre {
  @apply bg-muted relative p-2 font-mono font-light rounded-sm mt-2;
}

.customProse a {
  @apply text-primary border-b border-primary cursor-pointer;
}

.customProse hr {
  @apply my-4 border-t border-muted-foreground/15;
}

.customProse h1 {
  @apply text-3xl font-semibold  mt-12 mb-6;
}

.customProse h1:first-child {
  @apply mt-0;
}

.customProse h2 {
  @apply text-2xl font-semibold mt-8 mb-5;
}

.customProse h3 {
  @apply text-lg font-semibold mt-6 mb-2;
}

.customProse h4 {
  @apply font-semibold mt-4 mb-2;
}

.customProse img {
  @apply rounded-md;
}

.customProse p > img {
  @apply my-8;
}

.customProse > p:first-child > img {
  @apply mt-0;
}

/* Sonner */
.toaster [data-description] {
  color: var(--color-foreground-secondary) !important;
}
